body {
    font-family: 'Arial', sans-serif;
    text-align: center;
}
.about{
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
.about:hover {
    color: white;
    background-color: black;
}

h1 {
    color: blueviolet;
}
.myAvatar{
    height: 500px;
    width: 500px;
    display: block;
    margin: 0 auto;
}
.myAvatar:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
