{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
     <link rel="Stylesheet" href="{% static 'css/about.css' %}"
</head>
<body>

<header>
    <a href="{% url 'home' %}" class="home">Home</a>
</header>
<main>
<h1>This is About Page</h1>

<p>Hey there, fellow pirates!
I'm a huge fan of Blox Fruit and wanted to create this page to share my adventures and connect with other players. Let's talk about our favorite fruits, strategies, and experiences in the game.</p>
</main>
</body>
</html>